body {
  align-content: center;
  align-items: align-content;
}

div {
  color: bisque;
  background-color: cadetblue;
}
ul {
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  display: inline-flex;
}

li {
  display: inline-block;
  list-style-type: none;
}

li span {
  display: block;
}

span {
  font-size: 50px;
}
